body {
    margin: 0;
    color: white;
    font-family: Saira, sans-serif;
}

.background {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 130px;
}

.FurniShop {
    color: white;
    margin: 0;
    padding: 0 110px;
    font-size: 25px;
}

.textos {
    display: flex;
    align-items: center;
    gap: 84px;
    font-size: 20px;
    padding: 0 135px;
    flex-direction: row;
}
.home{
    font-weight: 600;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 66px;
    text-align: center;
}
.container{
    

}
.titulo{
    font-weight: 600;
    font-size: 60px;
    line-height: 1.3;
    letter-spacing: 1px;
}

.subtitulo{
    font-size: 30px;
    padding: 30px;
}
.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 65px;
}
.botao p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 267px;
    height: 72px;
   backdrop-filter: blur(40px);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.289);
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2{
    width: 2245px;
    height: 210px;
    background-color: #286F6C;
    border-radius:  15px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;  
    justify-content: space-around;
    padding: 30px;
}
.container2 h1{
    font-size: 35px;
}
.item{
text-align: center;
flex-direction: column;
justify-content: center;
font-size: 25px;
}

.linha{
    display: flex;
    align-content: center;
    width: 1px;
    height:100px;
    background-color: white;
}
.bolinhas{
    width: 96px;
    height: 96px;
    border-radius: 50px;
}
.bolinha1{
    position: absolute;
    top: 480px;
    left: 220px;
}
.bolinha2{
    position: absolute;
    top: 900px;
    left: 375px;
}
.bolinha3{
    position: absolute;
    top: 1040px;
    left: 2220px;
}
    
